<p>
    Kết quả thống kê có <%= @sinhviens.size %> sinh viên <br />
    Trong đó:<br />
    &nbsp;&nbsp;&nbsp;  Sinh viên nam: <%= @svnam.size %> sinh viên <br />
    &nbsp;&nbsp;&nbsp;  Sinh viên nữ: <%= @svnu.size %> sinh viên <br />
    <%=@dem%>
    

      
</p>