 <div class="items-cont" title='Tin tức noi bat'> 
                    	<div class="title-items">Tin tức nổi bật</div>    
                        <div class="content-items" id='id-noibat'>	
                                
                                <div class="carousel">
                                    
                                     
                                  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                                    
                                      <a href="detail.aspx?id=SC001">» Mã: SC001</br><%=image_tag'hh6.jpg'%></a>           
                                      <a href="detail.aspx?id=SC005">» Mã: SC001 <%=image_tag'hh1.jpg'%></a>           
                                      <a href="detail.aspx?id=SE005">» Mã: SC001<%=image_tag'hh9.jpg'%></a>          
                                                                 
                                  </marquee>
                                                
                                            
                                       
                                    
                                    <div class="clear"></div>   
                                </div>
                          </div>
</div>