<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 75%; height: 65%; top: 10%; left: 15%;overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
         <%= link_to image_tag('back.png',:style=>'height:3em;width:3em;'), ngaches_path %>  
      <%= link_to image_tag('closeit.png'),'/trangchu'%>
    </div>
    <%= render 'form' %>

</div>    
<div class="lock-screen" id="lock" style="display:block"></div> 

