<div id="login" class="login-cont" style="padding: 10px; margin: 10px; width: 70%; height: 65%; top: 15%; left: 13%;overflow: auto" align="center"> 
    <div id="close" class="closebutton" style="right: 10px" align="right">
        <%= link_to image_tag('closex.jpg'),'/giangviens/new'%>
    </div>
    <%= render 'form' %>
<%= link_to 'Quay lại', ngaches_path ,:style =>"color:#000" %>
</div>    
<div class="lock-screen" id="lock" style="display:block"></div> 

