<div class="items-cont" title='Khoa công nghệ thông tin - Trường đại học Sài Gòn'> 
<div class="title-items">Khoa công nghệ thông tin - Trường đại học Sài Gòn</div>
<div style="overflow:auto;height:370px;background-color:white;" >     
<table class="table1" width="100%" align="center">
  <tr>
    <td>Website: </td>
    <td><a href="fit.sgu.edu.vn">http://fit.sgu.edu.vn</a></td>
  </tr>
  <tr>
    <td colspan="2">Trưởng khoa: </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2">Phó khoa: </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2">Phó khoa: </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="3">
    Nhiệm vụ của Khoa:
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td colspan="2">
        - Triển khai kế hoạch nghiên cứu và đào tạo các chuyên ngành: Kỹ thuật phần mềm, Mạng máy tính và Hệ thống thông tin.
        <br />
        - Tham gia quản lý sinh viên, hướng dẫn sinh viên; học tập và rèn luyện để trở thành người cán bộ kỹ thuật có năng lực, chuyên môn giỏi, có đạo đức nghề nghiệp tốt; có khả năng tham gia tích cực vào công cuộc xây dựng và phát triển đất nước.
        <br />
        - Tổ chức quản lý và thường xuyên bồi dưỡng giảng viên nâng cao trình độ chuyên môn cống hiến lâu dài cho sự nghiệp giáo dục.
        <br />
        - Tổ chức xây dựng chương trình nghiên cứu khoa học và ứng dụng tiến bộ công nghệ mới phục vụ cho đào tạo và sản xuất kinh doanh.
    </td>
  </tr>
  <tr>
    <td colspan="3">
     Định hướng phát triển:
    </td>
  </tr>
  <tr>
    <td>
   
    </td>
    <td colspan="2">
        - Phát huy các lợi thế của trường Đại học Sài Gòn, là tường công lập trực thuộc UBND Tp Hồ Chí Minh, học tập kinh ngiệm mô hình hoạt động của các khoa cùng chuyên ngành trong các trường Đại học tại Tp Hồ Chí Minh để xây dựng mô hình tổ chức hoạt động khoa và phấn đấu phát triển Khoa công nghệ thông tin trở thành môi trường đạo tạo nguồn nhân lực chuyên ngành Kỹ thuật phần mềm, Mạng máy tính và Hệ thống thông tin  có chất lượng tốt nhất.
    </td>
  </tr>
  <tr>
    <td colspan="3">
    </td>
  </tr>
  <tr>
    <td>
   
    </td>
    <td colspan="2">
        - Tiêu chí xuyên suốt mọi hoạt động của Khoa là xây dựng môi trường sư phạm tích cực, lấy chất lượng đào tạo sinh viên làm tâm điểm.
    </td>
  </tr>
  <tr>
    <td>
   
    </td>
    <td colspan="2">
        - Tận dụng sự cống hiến đóng góp của tập thể Giảng viên. Tổ chức đào tạo bồi dưỡng đội ngũ Giảng viên giỏi về chuyên môn và nhân cách, năng động trong nghiên cứu và tự học.
    </td>
  </tr>
  <tr>
    <td>
   
    </td>
    <td colspan="2">
        - Xây dựng chi bộ Đảng, Công đoàn bộ phận Khoa thành điểm tựa vững chắc cho Giảng viên và Cán bộ quản lý; xây dựng chi đoàn Thanh niên khoa là điểm tựa cho Giảng viên trẻ và Sinh viên của Khoa.
    </td>
  </tr>
  <tr>
    <td>
   
    </td>
    <td colspan="2">
        - Tích cực xây dựng và triển khai kế hoạch nghiên cứu khoa học, đổi mới chương trình đào tạo và phương pháp giảng dạy theo hướng lý luận gắn liền với thực tiễn học đi đôi với hành để đáp ứng nhanh các nhu cầu ngày càng gia tăng về nguồn nhân lực chất lượng cao của thành phố Hồ Chí Minh và các tỉnh, thành phố phía Nam.
    </td>
  </tr>
  <tr>
    <td>
   
    </td>
    <td colspan="2">
        - Phát triển các chương trình hợp tác, liên kết với các tổ chức đào tạo, nghiên cứu trong nước và quốc tế để đẩy mạnh hơn nữa sự nghiệp đào tạo và nghiên cứu của Khoa Công nghệ thông tin.
    </td>
  </tr>
  <tr>
    <td>
   
    </td>
    <td colspan="2">
        - Liên hệ mật thiết với các doanh nghiệp chuyên ngành để hỗ trợ các chương trình học tập cho sinh viên, giải quyết tốt việc thực tập tốt nghiệp, việc làm cho sinh viên sau khi tốt nghiệp.
    </td>
  </tr>
  <tr>
    <td>
   
    </td>
    <td colspan="2">
        - Liên kết với các khoa đào tạo, viện nghiên cứu của các nước có trình độ khoa học tiên tiến để từng bước đối mới chương trình đào tạo, cập nhật thông tin khoa học công nghệ, nâng cao chất lượng đào tạo.
    </td>
  </tr>
</table>
</div>
</div>