<div class="items-cont" title='Khoa công nghệ thông tin - Trường đại học Sài Gòn'> 
<div class="title-items">Chào mừng các bạn đến với website quản lý văn phòng Khoa CNTT</div>
<div style="overflow:auto;height:370px;background-color:white;" >     
<table class="table1" width="100%" align="center">
  <tr>
    <td colspan="3">
    Lời ngỏ:
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td colspan="2">
        - Khoa học máy tính và công nghệ thông tin đã không chỉ thâm nhập rộng rãi vào nhiều lĩnh vực khác mà còn trở thành yếu tố nền tảng cho sự phát triển mạnh mẽ của các ngành khoa học kỹ thuât khác. 
        <br />
        - Khoa Công Nghệ Thông Tin trường Đại học Sài Gòn mong muốn đáp ứng nhu cầu phát triển của thành phố Hồ Chí Minh, Việt Nam lên ngang tầm khu vực bằng các hình thức giảng dạy sáng tạo và đội ngũ sư phạm năng động, nhiệt huyết.
        <br />
        - Đến với Khoa Khoa Công Nghệ Thông Tin các bạn có thể học từ bậc Trung học chuyên nghiệp, Cao đẳng và Đại học thông qua đào tạo liên thông. Nhà trường xem người học là trung tâm, từng bước phục vụ tốt nhất nhu cầu người học.
        <br />
        - Chúng tôi hy vọng rằng những cá nhân và tập thể quan tâm đến Khoa sẽ tìm thấy được những thông tin thú vị và hữu ích qua website này.
    </td>
  </tr>
  <tr>
    <td colspan="3">
     Trân trọng!
    <br />
    Khoa Công Nghệ Thông Tin
    </td>
  </tr>
  
</table>
</div>
</div>